<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pass</title>
    <link rel="stylesheet" type= "text/css" href="style.css">
</head>
<body>
    <div class="box-1">
        <h1>{{n}}</h1>
        <h1>{{ne}}</h1>
        <h1>{{t}}</h1>
        <h1>{{s}}</h1>
        <h1>{{u}}</h1>
    </div>

    <div class="box-2">
        <h1>{{w}}</h1>
        <h1>{{wt}}</h1>
        <h1>{{ws}}</h1>
        <h1>{{wu}}</h1>
    </div>
    <div class="box-3">
        <h1>{{pn}}</h1>
        <h1>{{pt}}</h1>
        <h1>{{ps}}</h1>
        <h1>{{pu}}</h1>
    </div>

    <div class="box-4">
        <h1>{{tn}}</h1>
        <h1>{{tt}}</h1>
        <h1>{{ts}}</h1>
        <h1>{{tu}}</h1>
    </div>

    
</body>
</html>