<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sheet</title>

</head>
<body>
<div class="container">
    <div class="box-1">
        <a href="logo.PNG">
            <img src="logo.PNG" alt="Scource Scans" width="400">
        </a>
    </div>

    <form name = "passdata" action="." method="post">
        <label>Search: </label>
        <input type="text" name="name">
        <input type="submit" value ="submit">
    </form>
    

    </div>





</div>
    
</body>
</html>